{% extends 'customer/common/layout.html' %}

{% load static %}

{% block content %}


<section class="banner-area py-5" id="banner-3">
       <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center justify-content-center">
                <div class="col-md-12 col-lg-9">
                   <div class="banner-content text-center style-2">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 ">
                            AD Release
                        </h1>

                        <!-- Subheading -->
                        <p class="lead mb-5 pr-0">
                            releaseMyAd is India's largest media buying agency
                        </p>

                        <!-- Button -->
                        <a href="#!" target="_blank" class="btn btn-primary btn-circled">
                                Release your AD
                        </a>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
</section>


<section id="about" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="img-block">
                        <img src="{% static 'customer/images/blog-lg.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 pt-6 col-md-12">
                    <div class="row justy-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                     <i class="ti-thumb-up"></i>
                                </div>
                                <h4 class="mb-2">The right advice</h4>
                                <p>Our team are experts in matching you with the right provider.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                   <i class="ti-cup"></i>
                                </div>
                                <h4 class="mb-2">Recognised for excellence</h4>
                                <p>We've been awarded for our high rate of customer satisfaction.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-wallet"></i>
                                </div>
                                <h4 class="mb-2">Compare the best</h4>
                                <p>We only compare market leaders with a reputation for service quality.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-dashboard"></i>
                                </div>
                                <h4 class="mb-2">Premium Services</h4>
                                <p>We only compare market leaders with a reputation for service quality.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section class="section bg-grey" id="process">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title ">
                            Our Working process
                        </h2>

                        <!-- Subheading -->
                        <p>
                             Ad Release is a web application by which user can post advertisement of their company in their desirable ad agency.                      
                           </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{% static 'customer/images/process/process-1.jpg' %}" alt="" class="img-fluid">

                        <h3>Online Ad Placement</h3>
                        <p> our system will provide an online platform that allows advertisers to place ads from anywhere with an internet connection, eliminating the need for physical visits.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{% static 'customer/images/process/process-2.jpg' %}" alt="" class="img-fluid">

                        <h3> Transparent Pricing</h3>
                        <p>Advertisers will have access to transparent pricing for various ad sizes and placements, making it easier to compare costs and make informed decisions.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{% static 'customer/images/process/process-3.jpg' %}" alt="" class="img-fluid">

                        <h3> Ad Agency Integration </h3>
                        <p>Collaborate with various ad agencies to integrate their services into the platform, making it a one-stop destination for ad bookings.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="section" id="service">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 pl-4 text-center">
                    <div class="service-heading">
                        <h1>  "Connect, Advertise, Succeed :<br>   
                        Ad Release - Your Gateway to Effective Advertising."</h1>
                    </div>
                </div>
            </div>
            
           <!--  <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-reload"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Backup System</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-3 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-cloud"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Cloud Hosting</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-3 col-md-6">
                    <div class="service-block media ">
                        <div class="service-icon">
                            <i class="ti-world"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Web hosting</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-3 col-md-6">
                    <div class="service-block media ">
                        <div class="service-icon">
                            <i class="ti-server"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Office Cloud</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-world"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Web hosting</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-cloud"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Office Cloud</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>
                </div>
            </div>   
             -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="pl-3">Want to know more about this? <a href="/customer/contact">Contact us</a></p>
                </div>
            </div>    
        </div>
    </section>
<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                            AD RELEASE
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                             Ad Release is a web application by which user can post advertisement of their company in their desirable ad agency
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-light-bulb"></i>
                        <h3>Creative Design</h3>
                        <p> our system will include user-friendly ad creation tools, enabling advertisers to design and format their ads directly on the platform. Templates and multimedia options will be available</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-desktop"></i>
                        <h3> Online Payment </h3>
                        <p>Secure online payment options will be integrated, allowing advertisers to make payments through credit/debit cards, digital wallets, or other online payment methods.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Broad Accessibility</h3>
                        <p>  The platform will offer a wide selection of ad agencies and newspapers, including local, regional, and national publications, providing advertisers with more choices.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>User Reviews and Feedback</h3>
                        <p>  The platform will feature a section for users to leave reviews and feedback about the ad agencies and their experiences, helping others make informed choices</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>Data Security</h3>
                        <p> Strong data security measures will be implemented to protect user data and payment information.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Ad Agency Services</h3>
                        <p>Ad agencies can showcase the services they provide, helping users make informed 
                        decisions.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="section" id="pricing">
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Affordable Price Plan
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Ad Release  can provide transparency in pricing, allowing users to see the costs associated with different ad sizes and placements, helping them make informed decisions
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                       <h3>First Page</h3>
                        <div class="price-block">
                             <h2><small></small>5000<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>premium placement fees</li>
                            <li>color vs black and white</li>
                            <li>size based pricing </li>
                            <li>location based pricing</li>
                            <li>deadline fees</li>
                        </ul>

                        <a href="#!" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                        <h3>Middle pages</h3>
                        <div class="price-block">
                             <h2><small></small>3000<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                           <li>standard placement fees</li>
                            <li>color vs black and white</li>
                            <li>size based pricing </li>
                            <li>location based pricing</li>
                            <li>deadline fees</li> 
                        </ul>

                        <a href="#!" class="btn btn-primary btn-circled">Purchase Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-6">
                    <div class="pricing-box ">
                        <h3>last</h3>
                        <div class="price-block">
                             <h2><small></small>1000<span></span></h2>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>discounted placement fees</li>
                            <li>color vs black and white</li>
                            <li>size based pricing </li>
                            <li>location based pricing</li>
                            <li>deadline fees</li>
                        </ul>

                        <a href="#!" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
</section>

 <section id="work-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h3>The ultimate goal of the Ad Release project is to empower businesses to succeed in their advertising endeavors by providing a comprehensive platform that facilitates seamless connections between companies and ad agencies.</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead"> By offering a user-friendly interface, a wide range of advertising options, and effective tools for campaign management and analysis, Ad Release aims to streamline the advertising process and maximize the impact of each campaign. Ultimately, the project seeks to drive business growth, increase brand visibility, and foster long-term success for advertisers and ad agencies alike.</p>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="work" class="section-bottom">
             <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="{% static 'customer/images/work/1.jpg' %}" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="{% static 'customer/images/work/2.jpg' %}" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="{% static 'customer/images/work/3.jpg' %}" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="{% static 'customer/images/work/4.jpg' %}" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="{% static 'customer/images/work/3.jpg' %}" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="{% static 'customer/images/work/2.jpg' %}" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="{% static 'customer/images/work/1.jpg' %}" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Probiz portfolio template</h4>
                                    <p>Web Development</p>
                                    <!-- <a href="single-project.html"><i class="fa fa-link"></i></a> -->
                                </div>
                            </div>
                        </div>
                </div>
           </div> 
        </section> 

<section class="section" id="section-testimonial">
        <!-- <div class="container">
           <div class="row align-items-center">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="section-heading testimonial-heading">
                        <h1>What they say <br>about us</h1>
                        <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'customer/images/client/test-1.jpg' %}" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Barrow</h4>
                                       <h6>Sunrise Paradise Hotel</h6>
                                   </div>
                               </div>

                                Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'customer/images/client/test-2.jpg' %}" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Barrow</h4>
                                       <h6>Sunrise Paradise Hotel</h6>
                                   </div>
                               </div>

                                Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'customer/images/client/test-3.jpg' %}" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Barrow</h4>
                                       <h6>Sunrise Paradise Hotel</h6>
                                   </div>
                               </div>

                                Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'customer/images/client/test-4.jpg' %}" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Barrow</h4>
                                       <h6>Sunrise Paradise Hotel</h6>
                                   </div>
                               </div>

                                Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'customer/images/client/test-5.jpg' %}" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Barrow</h4>
                                       <h6>Sunrise Paradise Hotel</h6>
                                   </div>
                               </div>

                                Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="test-inner">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'customer/images/client/test-6.jpg' %}" alt="Testimonial author" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Will Barrow</h4>
                                       <h6>Sunrise Paradise Hotel</h6>
                                   </div>
                               </div>

                                Quas ut distinctio tenetur animi nihil rem, amet dolorum totam. Ab repudiandae tempore qui fugiat amet ipsa id omnis ipsam, laudantium! Dolorem.

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
 <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                           Sample design
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Our duty towards you is to share our experience we're reaching in our work path with you.
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static 'customer/images/blog/blog-4.jpg' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <!-- <div class="blog-content">
                                <h6> 17 October 2023</h6>
                                <a href="#!">
                                    <h3 class="card-title">Top tips to speed up your site in a speedy time</h3>
                                </a>
                                <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                                <a href="#!" class="read-more">Read More</a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static 'customer/images/blog/blog-6.png' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <!-- <div class="blog-content">
                                <h6> 17 October 2023</h6>
                                <a href="#!">
                                    <h3 class="card-title">Brand your site value with marketing strategies</h3>
                                </a>

                                <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                                 <a href="#!" class="read-more">Read More</a>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8">
                    <div class="blog-box">
                        <div class="blog-img-box">
                            <img src="{% static 'customer/images/blog/blog-7.png' %}" alt="" class="img-fluid blog-img">
                        </div>
                        <div class="single-blog">
                            <!-- <div class="blog-content">
                                <h6> 17 October 2023</h6>
                                <a href="#!">
                                    <h3 class="card-title">Website Optimization is very essential for site speed</h3>
                                </a>
                                <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                                 <a href="#!" class="read-more">Read More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}